@model CarFormModel
@{
    ViewData["Title"] = "Add";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_CarForm", Model)
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
