@model IEnumerable<AdminBrandListingServiceModel>

<div class="col-md-10">
    <strong>Modify brands</strong>
    <a asp-action=@nameof(BrandsController.Create) class="btn btn-primary btn-sm pull-right">Add Brand</a>
    <table class="table table-hover table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Info</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dealer in Model)
            {
                <tr>
                    <td>@dealer.Name</td>
                    <td>@dealer.Description</td>
                    <td>
                        <a asp-action=@nameof(BrandsController.Edit) asp-route-id=@dealer.Id
                           class="btn glyphicon glyphicon-pencil"></a>
                        <a asp-action=@nameof(BrandsController.Delete) asp-route-id=@dealer.Id
                           class="btn glyphicon glyphicon-remove text-danger"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
