<div class="col-md-12">
    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://pbs.twimg.com/media/DW3UP-EW4AA1k5e.jpg" class="img-fluid">
    </a>
</div>