<div class="col-md-12">
    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://i.dailymail.co.uk/i/pix/2011/08/18/article-0-0D76EACA00000578-316_468x286.jpg" class="img-fluid">
    </a>

    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://i.dailymail.co.uk/i/pix/2011/08/18/article-2027251-0D76EA5800000578-169_468x691.jpg" class="img-fluid">
    </a>

    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://i.dailymail.co.uk/i/pix/2011/08/18/article-2027251-0D76EAE100000578-203_468x325.jpg" class="img-fluid">
    </a>

    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://i.dailymail.co.uk/i/pix/2011/08/18/article-2027251-0D77A04000000578-84_468x588.jpg" class="img-fluid">
    </a>

    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://pbs.twimg.com/media/DW3UP-EW4AA1k5e.jpg" class="img-fluid">
    </a>


    <a href="https://www.dailymail.co.uk/tvshowbiz/article-2027251/The-Only-Way-Is-Essex-Lauren-Goodger-buys-used-Audi-returning-free-Kia-car.html">
        <img src="https://pbs.twimg.com/media/DW3UP-EW4AA1k5e.jpg" class="img-fluid">
    </a>
</div>
