@model AdminExtraBasicServiceModel
@{
    ViewData["Title"] = "Delete Extra";
}
<h2>@ViewData["Title"]</h2>
<h2>
    Are you sure you want to delete
    <span class="text-danger">Format @Model.Name</span>?
</h2>
<div class="btn-group">
    <a asp-action="Index" class="btn btn-default">Back</a>
    <a asp-action="ConfirmDelete" asp-route-id=@Model.Id class="btn btn-danger">Confirm delete</a>
</div>