@model ExtraFormModel
@{
    ViewData["Title"] = "Edit Extra";
}
<h2>@ViewData["Title"]</h2>
@Html.Partial("__ExtraForm", Model)
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
